@import "bootstrap.min.css";
@import "variables.css";
@import "icons.min.css";
@import "../libs/dataTables/dataTables.bootstrap4.min.css";
@import "../libs/dataTables/responsive.bootstrap4.min.css";
@import "../libs/dataTables/buttons.bootstrap4.min.css";
@import "../libs/dataTables/select.bootstrap4.min.css";
@import "../libs/sweetalert/sweetalert.min.css";
@import "../libs/flatpickr/flatpickr.min.css";
@import "../libs/smartwizard/smart_wizard.min.css";
@import "../libs/smartwizard/smart_wizard_theme_arrows.min.css";

/* @import "login.css"; */

body {
    padding-bottom: 0 !important;
}

.fs-1 {
    font-size: 1rem;
}

.fs-1-2 {
    font-size: 1.2rem;
}

.fs-2 {
    font-size: 2rem;
}

.btn-success,
.badge-success,
.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle,
.page-item.active .page-link,
.sw-theme-arrows>ul.step-anchor>li.active>a{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.sw-theme-arrows>ul.step-anchor>li.active>a:after {
    border-left: 30px solid var(--primary-color) !important;
}

.btn-success:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 0.8;
}

.btn-outline-success {
    border-color: var(--primary-color);
}

.sw-theme-arrows>ul.step-anchor>li.done>a {
    background-color: var(--third-color) !important;
    border-color: var(--third-color) !important;
}

.sw-theme-arrows>ul.step-anchor>li.done>a:after {
    border-left: 30px solid var(--third-color) !important;
}

#sidebar-menu>ul>li>a.active {
    border-left: 3px solid var(--primary-color) !important;
}

#sidebar-menu>ul>li>a:active,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:hover,
#sidebar-menu>ul>li>a:active svg,
#sidebar-menu>ul>li>a:focus svg,
#sidebar-menu>ul>li>a:hover svg,
.btn-link,
.btn-link:hover,
#sidebar-menu .metismenu li a[aria-expanded=true],
#sidebar-menu>ul>li.mm-active>a svg,
.nav-second-level li a:focus,
.nav-second-level li a:hover,
.nav-thrid-level li a:focus,
.nav-thrid-level li a:hover,
.navbar-custom .topnav-menu .nav-link:active svg,
.navbar-custom .topnav-menu .nav-link:focus svg,
.navbar-custom .topnav-menu .nav-link:hover svg,
#sidebar-menu>ul>li>a.active,
.btn-outline-success,
.text-success,
.nav-second-level li>a.active,
.nav-thrid-level li>a.active,
#sidebar-menu>ul>li>a.active svg {
    color: var(--primary-color) !important;
}

.page-link {
    color: var(--orange-color) !important;
}

.btn-outline-success:hover,
.page-item.active .page-link {
    color: #fff !important;
}

.text-danger {
    color: var(--danger-color) !important;
}

label {
    margin-bottom: 0.1rem;
    font-weight: 400;
}

#sidebar-menu>ul>li.mm-active>a {
    border-left: 3px solid var(--primary-color) !important;
}

.alert-danger {
    background-color: var(--danger-color) !important;
    border-color: var(--danger-color) !important;
}

.sa-confirm-button-container .confirm {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-orange{
    background-color: var(--orange-color) !important;
    border-color: var(--orange-color) !important;
    color: #fff !important;
}

.flatpickr-weekdays {
    background: var(--primary-color) !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

span.flatpickr-weekday {
    color: #fff !important;
}

ul.pagination {
    display: flex;
    justify-content: flex-end;
}

.dataTables_filter {
    display: flex;
    justify-content: flex-end;
}

.background-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgb(0 0 0 / 37%);
}

.gray-color {
    color: #8c8c8c !important;
}

.alert-success {
    color: #fff;
    background-color:var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.play_for_win .card-body{
    border: 1px solid #c3cec4;
    background-color: #f4ffeb;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}