:root {
    --primary-color: #128669;
    --secondary-color: #198FDA;
    --danger-color: #e25e54;
    --gray-color: #f3f3f3;
    --yellow-color: #fddc21;
    --third-color: #66b1ac;
    --orange-color: #e9782c;
}
